<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ClassWork090924/src/p_9_09_24_002/Rectangle_demo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p_9_09_24_002.Rectangle_demo"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ClassWork090924"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ClassWork090924"/>
</launchConfiguration>
